<div class="container">
  <div class="row">


  <center>
  <h3> Description of Task: </h3>
    <hr>
    Issue: <%= @task.issue %> <br> <br>
  
    Description: <%= @task.description %> <br> <br>

    Language: <%= @task.language %> <br> <br>

    Framework: <%= @task.framework %> <br> <br>
    </center>


  </div>
</div>

