<div class="container">
  <div class="row">


  <center>
  <h3> Description of Task: </h3>
    Issue: <%= @task.issue %> <br>
    Description: <%= @task.description %> <br>
    Language: <%= @task.language %> <br>
    Framework: <%= @task.framework %> <br>
    </center>


  </div>
</div>

