<div class="jumbotron">
	<center>
  	<h1>Welcome to the Coding for Good Foundation</h1>
  		<p>Are you a developer looking for pro bono work?</p>
  		<p>Are you a non-profit organization looking for help from developers?</p>
  		<%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %></center>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="thumbnail">
				<center>
					<p>This is where we display all the tasks available</p>
				</center>
			</div>
		</div>
		<div class="col-md-6">
			<div class="thumbnail">
				<center>
					<p>This is where we display developer profiles that have signed up</p>
				</center>
			</div>
		</div>
	</div>
</div>