<div class="jumbotron">
	<center>
	<br>
  	<h1>Connecting Developers to Good Causes</h1>		
  	<div id="joinbutton">
  		<%= link_to "Make A Difference", signup_path, class: "btn btn-lg btn-primary" %>
  	<div>
  	</center>
</div>

<div class="container">
	<br>
	<center>
		
			<div class="row">
				
				<div class="col-md-4">
				<div class="thumbnail">
					<h3> Latest NPO:</h3>
					<% @npo.each do |npo| %> 
					<hr>
		  		<p><%= link_to npo.name, npo_path(npo) %></p>
		  		<% end  %> 
		  		</div>
				</div>
				
	
				<div class="col-md-8">
				<div class="thumbnail">
				<h3>Latest Issues:</h3>
					<% @task.each do |task| %> 
					<hr>
			  	<p>Issue:  <%= link_to task.issue, npo_task_path(task.npo, task)  %></p>
			  	<p>Description: <%= task.description %></p>
			  	<% end  %> 
			  	</div>
		  	</div>
			
		</div>
	</center>
</div>
		
		



	
