<div class="jumbotron">
	<center>
	<br>
  	<h1>Connecting Developers to Good Causes</h1x>
  	<br>
  	<br>
  	<br>
  	<br>
  	<br>
  	<br>

  		
  	<div id="joinbutton">
  		<%= link_to "Make a difference now", signup_path, class: "btn btn-lg btn-primary" %>
  	<div>
  	</center>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<center><p>Are you a developer looking for pro bono work?</p></center>
			<div class="thumbnail">
				<center>
					<p>This is where we display all the tasks available</p>
				</center>
			</div>
		</div>
		<div class="col-md-6">
			<center><p>Are you a non-profit organization looking for help from developers?</p></center>
			<div class="thumbnail">
				<center>
					<p>This is where we display developer profiles that have signed up</p>
				</center>
			</div>
		</div>
	</div>
</div>

	
