<div class="container">
	<div class="row">
		<div class="col-md-12">
			<center>
				<%= image_tag("thederp.jpg", :alt => "derpfamily") %>
			<center>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<center>
				<h1>About our Team</h1>
				<br>
				<p>We are students of the web development immersive at General Assembly in San Francisco. We came upon this idea, because we think developers should be able to use their skills to do good. It is also a perfect opportunity for developers to add work to their portfolio. </p>
				<br>
				<h1>Contact Us</h1>
				<br>
				<p>esbenbsmith@gmail.com</p>
		</center>
		</div>
	</div>
</div>