.jumbotron {
height: 500px;
width: 100%;
padding-top:0px;
background-image: url(mainsoleil.jpg);
background-repeat: no-repeat;
background-position: center;
color: white;  
margin-top:-20px;
}

#joinbutton {
	vertical-align: bottom;
}