
<!-- NPO INFO -->

<div class="container">
  <div class="row">
  	
    <div class="col-md-4">
		<div class="thumbnail">

		    <h3>name: <%= @npo.name %> </h3>
		    <p>about: <%= @npo.about %> </p>
		    <p>date joined: <%= @npo.created_at %> </p>
		</div>
    </div>
    <div class="col-md-offset-5">
    	<div class="thumbnail">
			<h3>This is where the tasks will be displayed, we need to add the @task to the npos controller to do that</h3>
		</div>
    </div>

  </div>
</div>
