<div class="col-md-12">

 <h1> <%= @npo.name %>'s page</h1>

</div>

<!-- USER INFO -->

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4">

    <h3>my information</h3>

    <p>name: <%= @npo.name %> </p>
    <p>about: <%= @npo.about %> </p>
    <p>data joined: <%= @time %> </p>

    </div>
  </div>
</div>
